<% @articles.each do |article| %>
	<h2><%= article.title %></h2>
	<p class="date"><%= article.published_date %></p>
	<p class="author"><%= article.author.name %></p>
	<p><%= article.truncated_body %></p>
<% end %>
